@import './layout/_reset.scss'
@import './layout/_normalize.scss'
@import './components/_navbar'
@import './_vars'


*
  box-sizing: border-box

body
  font-family: "Montserrat", sans-serif
  font-optical-sizing: auto
  font-style: normal

.bg
  &-body
    background-color: $bg-color
    &-tertiary
      background-color: $bg-color-tertiary

