section#section-footer
  .container.wrapper.d-flex.justify-content-center.align-items-center
    .row.w-100.d-flex.flex-column-reverse.row-gap-3.flex-sm-row
      .col-12.col-sm-6.d-flex.flex-column.justify-content-center.justify-content-sm-start.align-items-center.align-items-sm-start
        p.mb-2 © 2023-2024 Oleandria
        a.confidential-policy(href="#") Политика конфиденциальности
      .col-12.col-sm-6.d-flex.flex-row.flex-sm-column.justify-content-center.justify-content-sm-start
       
        .container.d-flex.flex-row.align-items-center.justify-content-center
          //- h4.me-3 Мы в социальных сетях:
          .social-media-icon(data-ext-link="mailto:oleandria.apps@gmail.com")
            include ../public/svg/socialMedia/_mail.pug
          .social-media-icon(data-ext-link="https://www.linkedin.com/company/oleandria-apps/")
            include ../public/svg/socialMedia/_linkedIn.pug
          .social-media-icon(data-ext-link="https://t.me/Oleandria")
            include ../public/svg/socialMedia/_telegram.pug

              