mixin mainContent(imageSrc, header, textContent)
  section#section-main.mb
    .container-fluid.main.p-0
      .main__image.h-100(style=`background-image: url('${imageSrc}')`)
        .container.h-100.d-flex.align-items-center
          .main__text-container.d-flex.flex-column.justify-content-center.h-100.p-5
            h1.m-0.mb-4!= header
            if textContent
              p!= textContent