section.fixed-bottom#footer-section
  .container.d-flex.align-items-center.wrapper
    .row.w-100
      .col-6.d-flex.flex-column.justify-content-center
        p.mb-2 © 2023 Все права защищены. Oleandria
        a.confidential-policy(href="#") Политика конфиденциальности
      .col-6.d-flex.flex-column.justify-content-center
       
        .container.d-flex.flex-row.align-items-center
          h4.me-3 Мы в социальных сетях:
          .social-media-icon.col
            include ../public/svg/socialMedia/_linkedIn.pug

          .social-media-icon.col
            include ../public/svg/socialMedia/_mail.pug

            

          //- img.social-media-icon(src="/public/icons/social/linkedin.svg" ext-link="https://www.linkedin.com/company/oleandria-apps/")
          //- img.social-media-icon(src="/public/icons/social/telegram.svg" ext-link="https://t.me/Oleandria")
          //- img.social-media-icon(src="/public/icons/social/mail.svg" ext-link="mailto:oleandria.apps@gmail.com")

              